<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 28rem;">
        <div class="text-center">
            <img src="https://cdn0.iconfinder.com/data/icons/shift-free/32/Complete_Symbol-512.png"  width="120" alt="">
         </div>
         {% block content %}
         <div class="container mt-5 text-center">
           <h2>Contraseña restablecida</h2>
           <p>Tu contraseña ha sido cambiada con éxito. Ya puedes iniciar sesión.</p>
           <a href="{% url 'login' %}" class="btn btn-success">Ir a Iniciar Sesión</a>
         </div>
         {% endblock %}
         
    </div>
</body>

</html>