<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escáner de Código de Barras</title>
    <script>
    function leerCodigo() {
        fetch("{% url 'detectar_codigo' %}")
        .then(response => response.json())
        .then(data => {
            if (data.codigo) {
                window.opener.recibirCodigo(data.codigo);
                window.close();
            } else {
                alert("No se detectó ningún código.");
            }
        });
    }
    </script>
</head>
<body onload="leerCodigo()">
    <h3>Escaneando...</h3>
</body>
</html>
